extends ../layouts/default

block intro
	.container
		h1 Contact Us

	.container
		if enquirySubmitted
			h3 Thanks for getting in touch.
		else
			.row: .col-sm-8.col-md-6
				form(method='post' id='formularz')
					input(type='hidden', name='action', value='order')
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label Message
						textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
					.form-group(class=validationErrors.name ? 'has-error' : null)
						input(type='hidden', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label Email
						input(type='hidden', name='email', value=userEmail).form-control
					.form-actions
						button(type='submit').btn.btn-primary Send
