extends ../layouts/default


block intro

	script(src="/js/jquery/jquery-2.1.4.min.js")
	script.
		$(document).ready(function () {
			$('#profile').DataTable();

		});
	.container: .tabela

		div(#tabela)
			table(id='profile', class='table table-hover')
				thead
					tr
						th ID
						th Status
						th Received
						th Product
						th Damage
				tbody(id='myTable')
					each order in orders
						tr
							td
								a(href='/details/'+ order._id) #{order._id}
							td #{order.state}
							td #{order.dateStart}
							td #{order.product}
							td #{order.damage}


			//script.
				$('tr').not(':first').hover( function() {
				$(this).append("<button class='btn btn-primary btn-xs' id='cntBtn'>Contact</button>");
				var order_id = $(this).find("td:first").html();
				$('#cntBtn').click(function(){ window.location = "/" + order_id});
				//$('#cntBtn').click(function(){ $("cntBtn").attr("href", order_id) });
			//  }, function(){
			//	$("#cntBtn").remove();
			//  });
