extends ../layouts/default


block intro
  script(src="/js/jquery/jquery-2.1.4.min.js")
  .container
    h1 Hello #{users.name.first}
    script.
      $(document).ready(function(){
      $("#ordersBtn").click(function(){
        $("#tabela").slideToggle("slow");
      });
      });
    button(class='btn btn-primary' id='ordersBtn') Orders
    a(class='btn btn-primary' href='/account') Account
    a(class='btn btn-primary' href='/contact') Contact
    script.
      $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      });



    div#tabela
      input(id='myInput' type='text' name='myInput' placeholder='Search...').form-control
      table(class ='table-hover')
        thead
          tr
            th(hidden) ID
            th Status
            th Received
            th Ready
            th Product
            th Comment
        tbody(id='myTable')
          each order in orders
            tr
            td(hidden) #{order._id}
            td #{order.state}
            td #{order.dateStart}
            td #{order.dateEnd}
            td #{order.product}
            td #{order.comment}

      script.
        $('tr').not(':first').hover( function() {
          $(this).append("<button class='btn btn-primary btn-xs' id='cntBtn'>Contact</button>");
          var order_id = $(this).find("td:first").html();
          $('#cntBtn').click(function(){ window.location = "/" + order_id});
          //$('#cntBtn').click(function(){ $("cntBtn").attr("href", order_id) });
        }, function(){
          $("#cntBtn").remove();
        });


block content
  .container
    if user.canAccessKeystone
      h3 Jesteś zalogowany jako admin.
    else if user.canAccessClients
      h3 Jesteś zalogowany jako pracownik.
    else
      h3 Ur profile.
