extends ../../layouts/default

block intro
  script(src="/js/jquery/jquery-2.1.4.min.js")

  .container
    div(class='tabela')
      script.
        $(document).ready(function() {
          $('#msg').DataTable();
          $(document).on("click", "#msg tbody tr", function() {
            var id = $(this).find(".cntId").html();
            window.location.href = '/manage/notification/' + id;
          });
        });
      table(class="table table-hover" id="msg")
        thead
          tr
            th
            th
            th
        tbody
          each contact in contacts
            if(!contact.read)
              tr(style="font-weight:bold")
                td #{contact.from}
                td(class="cntId") #{contact._id}
                td #{contact.createdAt}
            else
              tr
                td #{contact.from}
                td(class="cntId") #{contact._id}
                td #{contact.createdAt}
