extends ../../layouts/default

block intro

  script(src="/js/jquery/jquery-2.1.4.min.js")
  link(href="/styles/easy-autocomplete.themes.min.css", rel="stylesheet")
  link(href="/styles/easy-autocomplete.themes.css", rel="stylesheet")

  script.
    $(document).ready(function () {

      var t = $('#table').DataTable({

        "columnDefs": [ {
                   "searchable": false,
                   "orderable": false,
                   "targets": 0
               },
               {
                  'targets': 2,
                  'render': function(data, type, full, meta){
                     if(type === 'display'){
                       var trimmedString = data.substring(0, 21);
                       return trimmedString;
                     }

                     return data;
                  }
               } ],
          "order": [[ 1, 'asc' ]]});
      t.on( 'order.dt search.dt', function () {
        t.column(0, {search:'applied', order:'applied'}).nodes().each( function (cell, i) {
            cell.innerHTML = i+1;
        } );
    } ).draw();
      $(function() {
        var opt = (!{JSON.stringify(users)});
        var options = {
          data: opt,
          getValue: function(element) {
            return element.name.first + " " + element.name.last;
          },
          template: {
            type: "description",
            fields: {
                description: "email"
            }
          },
          list: {
            onClickEvent: function() {
              var index = $("#autocomplete").getSelectedItemData()._id;
                $("#client").val(index).trigger("change");
              },
            match: {
              enabled: true
            }
          },

            theme: "custom"
          };
          $("#autocomplete").easyAutocomplete(options);
      });
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
      $(function() {
        $('#submit').attr('disabled', 'disabled');
      })
    });

  .container
    div(id="accordion" class="panel-group" aria-multiselectable="true")
      div(class="panel panel-default")
        div(class="panel-heading")
          h5(class="panel-title")
            a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Tickets
        div(id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne")
          div(class="panel-body")
            div(class='table-responsive')
              table(id="table" class="table " cellspacing="0" width="100%")
                thead(class="thead thead-inverse")
                  tr
                    th #
                    th Ticket ID
                    th Admitted
                    th Client ID
                    th State
                    th Product
                tbody(id='myTable')
                  each order in orders
                    tr
                      td
                      td
                        a(href='orders/' + order._id) #{order._id}
                      td #{order.dateStart}
                      td #{order.client}
                      td #{order.state}
                      td #{order.product}
      div(class="panel panel-default")
        div(class="panel-heading")
          h5(class="panel-title")
            a(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Create Ticket
        div(id="collapseTwo" class="panel-collapse collapse")
          div(class="panel-body")
            form(method="post" id="newOrder")
              input(type='hidden', name='action', value='newOrder')
              .form-group
                label Client
                input(id='autocomplete' name='autocomplete' placeholder="Search...")
              .form-group
                input(type="hidden", id='client' name='client')
              .form-group
                label Product
                input(type='text', id='product', class='form-control', name='product')
              .form-group
                label Damage
                input(type='text', id='damage', class="form-control", name='damage')
              .form-group
                input(type='hidden', id='employee', class="form-control", name='employee', value=employee)
              .form-actions
                button(type='submit' id='submit').btn.btn-primary Send
          script.
            $('#autocomplete').keyup(function() {
              $('#submit').attr('disabled', !$('#autocomplete').val());
            });
